@model TGVL.Models.OrderViewModel


    <ul>
        <li>
            <div class="input-box">
                <label style="font-size:16px"> Họ tên </label>
                <br />
                @Html.DisplayFor(model => model.CustomerFullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Họ tên người nhận" } })
           
            </div>
        </li>
        <li>
            <div class="input-box">
                <label style="font-size:16px"> Số điện thoại </label>
                <br />
                @Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Số điện thoại liên hệ" } })
            
            </div>
        </li>

        <li>
            <div class="input-box">
                <label style="font-size:16px"> Địa chỉ </label>
                <br />
                @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Địa chỉ nhận hàng" } })
            
            </div>

        </li>
    </ul>
   
    <div style="padding-right:10px">
        <button type="button" class="btn btn-success" onclick="updateExistedAddress()"><span>Sửa địa chỉ</span></button>
        <button type="submit" class="btn btn-success" onclick="gotToCheckOut()"><span>Tiếp tục</span></button>
    </div>


