
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }
</style>
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12">
                <div class="page-title">
                    <h2>Blog</h2>
                </div>
                <div class="blog-wrapper" id="main">
                    <div class="site-content" id="primary">
                        <div role="main" id="content">
                            <article class="blog_entry clearfix wow bounceInUp animated" id="post-29">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h2 class="blog_entry-title"> <a rel="bookmark" href="#">Chọn mua xi măng cho ngôi nhà mới</a> </h2>
                                    </div>
                                </header>
                                <div class="entry-content">
                                    <div class="featured-thumb"><a href="#"><img alt="blog-img4" src="~/Images/Product/SysProduct/PCB30.jpg"></a></div>
                                    <div class="entry-content">
                                        <p>Để chọn lựa đúng đắn xi măng cho ngôi nhà mơ ước, có nhiều yếu tố. Nhưng trước hết phải chọn lựa thương hiệu xi măng uy tín đã hoạt động trên trị trường nhiều năm. Đặc biệt các thương hiệu xi măng đa quốc gia thường có bề dày kinh nghiệm, dây chuyền sản xuất hiện đại, công suất lớn, hệ thống phân phối rộng khắp và chất lượng đã được tin dùng.. Ngoài ra nên cân nhắc đến các thương hiệu lớn có cung cấp dịch vụ tư vấn kỹ thuật trước và sau giai đoạn xây nhà..</p>
                                        <p>Kế đến là kiểm tra tiêu chuẩn xi măng. Hiện nay loại xi măng thường dùng cho nhà dân dụng là xi măng PCB40 (PCB40 là chỉ số về cường độ nén tối thiểu của mẫu vữa chuẩn sau 28 ngày đóng rắn). Ở những vùng sâu vùng xa,có thể sử dụng xi măng chất lượng thấp hơn là xi măng PCB30.</p>
                                    </div>
                                    <p> <a class="btn" href="blog_detail.html">Xem thêm</a> </p>
                                </div>

                            </article>
                            <article class="blog_entry clearfix wow bounceInUp animated">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h2 class="blog_entry-title"> <a rel="bookmark" href="#">Cách lựa chọn gạch lát nền đẹp phù hợp với phòng khách nhà của bạn</a> </h2>
                                    </div>
                                </header>
                                <div class="entry-content">
                                    <div class="featured-thumb"><a href="#"><img alt="blog-img3" src="~/Images/Product/SysProduct/dongtam.jpg"></a></div>
                                    <div class="entry-content">
                                        <p>Ngoài yếu tố màu sắc thì khi lựa  chọn gạch lát cho phòng khách cần phải quan tâm đến công năng của gạch. Gạch phải đảm bảo các yếu tố về chất lượng, độ bền, chống thấm và chống trơn trợt tốt. Theo xu hướng hiện nay, gạch granite bóng mờ và bóng kiếng được mọi người sử dụng để lát nền phòng khách vì những ưu điểm: đẹp, sang trọng, ít bị trầy xước.</p>
                                        <p>Đối với mỗi chủng loại và mỗi dòng sản phẩm gạch sẽ có những kích thước khác nhau, do đó cần phải chọn đúng loại gạch có kích thước phù hợp, không nên chọn gạch quá to hoặc quá nhỏ so với diện tích phòng. Những phòng khách nhỏ có diện tích nhỏ hơn 15m2 nên sử dụng gạch lát nền có kích thước 40 x 40cm hoặc 50 x 50cm. Không nên chọn gạch có kích thước nhỏ hơn hoặc lớn hơn vì sẽ khiến cho căn phòng trong trở nên nhỏ hơn so với thực tế rất nhiều..</p>
                                        <p>Đối với những phòng khách có diện tích lớn hơn 15m2 thì nên sử dụng gạch có kích thước từ 50cm trở lên, với kích thước gạch này sẽ giúp cho phòng khách trở nên rộng, sang trọng và hiện đại hơn.</p>
                                    </div>
                                    <p> <a class="btn" href="blog_detail.html">Xem thêm</a> </p>
                                </div>

                            </article>
                            <article class="blog_entry clearfix wow bounceInUp animated">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h2 class="blog_entry-title"> <a rel="bookmark" href="#">Vấn đề gặp phải khi sơn nhà</a> </h2>
                                    </div>
                                </header>
                                <div class="entry-content">
                                    <div class="featured-thumb"><a href="#"><img alt="blog-img2" src="~/Images/Product/SysProduct/DuluxWeathershield.jpg"></a></div>
                                    <div class="entry-content">
                                        <p>Nhà mới sơn đã bị bay màu, bong tróc sau 6 tháng.</p>
                                        <p>Nguyên nhân chính là do nhà thầu thiếu kinh nghiệm trong xử lý bề mặt (sơn khi lớp hồ vữa chưa khô, không đảm bảo độ ẩm cần thiết 16% theo máy đo Protimeter) hoặc không thực hiện đúng quy trình tiêu chuẩn (bỏ qua lớp sơn lót chống kiềm ngoài trời, không kiểm tra công trình hệ thống nước bị hư hại). Đối với các trường hợp này cần liên hệ nhà thầu kiểm tra, sơn lại đúng quy trình và giám sát việc thi công sơn theo khuyến cáo của hãng sơn.</p>
                                    </div>
                                    <p> <a class="btn" href="blog_detail.html">Xem thêm</a> </p>
                                </div>

                            </article>
                            <article class="blog_entry clearfix wow bounceInUp animated">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h2 class="blog_entry-title"> <a rel="bookmark" href="#">Cách mua tôn lợp nhà</a> </h2>
                                    </div>
                                </header>
                                <div class="entry-content">
                                    <div class="featured-thumb"><a href="#"><img alt="blog-img1" src="~/Images/Product/SysProduct/TLSV.jpg"></a></div>
                                    <div class="entry-content">
                                        <p>Người đi mua đến chỗ bán tôn (Công ty, cửa hàng, nhà máy) nói là đi mua tôn cho công ty (không nên nói mua cho mình, mua cho nhà mình), hỏi giá bao tiền 1m tôn 9 sóng (hoặc 5 sóng đối với tole Cách nhiệt) với độ dày yêu cầu, có giá rồi thì hỏi tiếp 1m tôn độ dày như vậy nặng bao nhiêu kg, có nơi nói là tôi bán theo m, không bán theo kg, mình vịn cớ công ty yêu cầu vậy, họ muốn bán, họ phải trả lời...rồi mặc cả giá thêm, ra điều kiện là khi chở tôn đến nơi, nếu cân lên không đúng không nhận hàng. Làm vậy, ít có Công ty, cửa hàng, nhà máy nào qua mặt.</p>
                                        <p>
                                            Tôn, hay xà gồ đêu có các tính trọng lượng cực kỳ đơn giản: khổ tôn (xà gồ) trước khi cán X độ dày X 1m X 7850.
                                            VD: Tôn dày 0.35mm (gọi là 3,5 zem) = 1,2 x 0,00035 x 7850 x 1= 3,29 kG/1m +/- 150gram
                                            1,2 là khổ tôn trước khi cán sóng, 0,00035 là độ dày tôn tính theo m, 7850 là trọng lượng riêng của thép. Ngoài thị trường, tôn 3,5 zem có trọng lượng khoảng 3,15kg/md.
                                            Xà gồ, thép hộp cũng tính như vậy, biết để đại lý không qua mặt mình.
                                        </p>
                                    </div>
                                    <p> <a class="btn" href="blog_detail.html">Xem thêm</a> </p>
                                </div>

                            </article>
                        </div>
                    </div>
                    <div class="pager">
                        <p class="amount"> <strong>4 Item(s)</strong> </p>
                        <div class="limiter">
                            <label>Show</label>
                            <select onChange="setLocation(this.value)">
                                <option selected="selected"> 5 </option>
                                <option> 10 </option>
                                <option> 15 </option>
                                <option> 20 </option>
                                <option> All </option>
                            </select>
                            per page
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
