@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

<style>
    h3 {
        border-bottom: none 1px rgba(100, 100, 100, .30);
    }
</style>

<section class="main-container">
    <div class="main container">
        <h3 style="font-size:x-large"><strong>THÔNG TIN LIÊN HỆ</strong></h3>
        <div class="row">
            <br />
            <div class="col-md-2">
                Văn phòng đại diện
            </div>
            <div class="col-md-6">
                Tòa nhà Innovation, Công Viên Phần Mềm Quang Trung, Quận 12, TPHCM
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-2">
                Điện thoại
            </div>
            <div class="col-md-6">
                (08)-3877-0508
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-2">
                Đường dây nóng
            </div>
            <div class="col-md-6">
                0903-305-384
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-2">
                Email
            </div>
            <div class="col-md-6">
                thegioivatlieu123@gmail.com
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-2">
                Phụ trách nội dung
            </div>
            <div class="col-md-6">
                BMW Team
            </div>
        </div>
        <br />
        <h3 style="font-size:x-large"><strong>PHẢN HỒI</strong></h3>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=thegioivatlieu123@gmail.com&su=Phản hồi về hệ thống" class="btn btn-info">Phản hồi</a>
    </div>
</section>