
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}
@Styles.Render("~/Content/mainpagecss")
@Scripts.Render("~/bundles/mainpagejquery")

<style>
    .item-img-info {
        width: 300px;
        height: 200px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 300px;
        height: 300px;
        display: inline-block;
        padding: 5px;
        margin-left: 10px;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 5px;
    }
</style>

@*<section class="slider-intro">
        <div class="container">
            <div class="the-slideshow slideshow-wrapper">
                <ul style="overflow: hidden;" class="slideshow">
                    <li class="slide">
                        <p><a href="#"> <img src="~/Content/images/slide.jpg" alt=""></a></p>
                        <div class="caption light1 top-right">
                            <div class="caption-inner">
                                <p class="heading"><strong>VẬT LIỆU XÂY DỰNG</strong></p>
                                <div class="badge"><em>GIÁ</em> TỐT <span>NHẤT</span></div>
                                <p class="heading1">Chúng tôi hỗ trợ dịch vụ tìm kiếm vật liệu xây dựng nhanh chóng và nhà cung cấp thích hợp</p>
                                <p class="intro-btn"><a href="#" title="Click to see all features">Trải nghiệm ngay</a> </p>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <p><a href="#"> <img src="~/Content/images/rtb1.jpg" alt=""></a></p>
                        <div class="caption light top-right">

                        </div>
                    </li>
                    <li class="slide">
                        <p><a title="#" href="#"> <img src="~/Content/images/deal.jpg" alt=""> </a></p>

                    </li>
                </ul>
                <a href="#" id="home-slides-prev" class="backward browse-button">previous</a> <a href="#" id="home-slides-next" class="forward browse-button">next</a>
                <div id="home-slides-pager" class="tab-pager tab-pager-img tab-pager-ring-lgray"></div>
            </div>
        </div>
    </section>*@
<br />
<br />
<section class="main-container col1-layout home-content-container">
    <div class="container">
        <div class="row">
            <div class="std">
                <div class="best-pro col-lg-12">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2>SẢN PHẨM YÊU CẦU NHIỀU NHẤT</h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                <!-- Item -->
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Thép cây vằn Pomina D12" class="product-image"> <img src="~/Content/images/thep.jpg"> </a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="product_detail.html" title="Thép cây vằn Pomina D12"> Thép cây vằn Pomina D12 </a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">

                                                                <span class="regular-price"> <span class="price">145.000 VNĐ</span> </span>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Sample Product"></a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"><span>Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <span class="regular-price"> <span class="price">89.000 VNĐ</span> </span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="col-item">
                                        <div class="sale-label sale-top-right">HOT</div>
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Gạch bông" class="product-image"> <img src="~/Content/images/gachbong.jpg" alt="Sample Product"></a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"><span>Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="grid.html" title="Gạch bông"> Gạch bông </a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <span class="regular-price"> <span class="price">90.000 VNĐ</span> </span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <strong></strong>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">

                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Thép cây vằn Pomina D6" class="product-image"> <img src="~/Content/images/thep.jpg"> </a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="product_detail.html" title="Thép cây vằn Pomina D6"> Thép cây vằn Pomina D6 </a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <span class="regular-price"> <span class="price">104.000 VNĐ</span> </span>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Sample Product"></a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"><span>Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <span class="regular-price"> <span class="price">80.000 VNĐ</span> </span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="main-container col1-layout home-content-container">
    <div class="container">
        <div class="row">
            <div class="std">
                <div class="best-pro col-lg-12">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2>CỬA HÀNG GẦN ĐÂY</h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                <!-- Item -->
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" class="product-image"> <img src="~/Content/images/thep.jpg"> </a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="product_detail.html"> Cửa hàng VLXD ABC </a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p>36 Nguyễn Trãi Q1 TPHCM</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                                
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">

                                                <div class="item-img-info">
                                                    <a href="product_detail.html"  class="product-image"> <img src="~/Content/images/thep.jpg"> </a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="product_detail.html" > Cửa hàng VLXD BDC </a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p>36 Nguyễn Trãi Q1 TPHCM</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html"  class="product-image"> <img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Sample Product"></a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"><span>Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="grid.html"> Cửa hàng VLXD ABC </a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p>36 Nguyễn Trãi Q1 TPHCM</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="main-container col1-layout home-content-container">
    <div class="container">
        <div class="row">
            <div class="std">
                <div class="best-pro col-lg-12">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2>DEAL NỔI BẬT</h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">

                                <!-- Item -->
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">

                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Thép cây vằn Pomina D12" class="product-image"> <img src="~/Content/images/thep.jpg"> </a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="product_detail.html" title="Thép cây vằn Pomina D12"> Thép cây vằn Pomina D12 </a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" id="old-price-2"> 145.000 VNĐ </span> </p>
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" id="product-price-2"> 104.000 VNĐ </span> </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Sample Product"></a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"><span>Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" id="old-price-2"> 89.000 VNĐ </span> </p>
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" id="product-price-2"> 74.000 VNĐ </span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item">
                                    <div class="col-item">
                                        <div class="sale-label sale-top-right">HOT</div>
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Gạch bông" class="product-image"> <img src="~/Content/images/gachbong.jpg" alt="Sample Product"></a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"><span>Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="grid.html" title="Gạch bông"> Gạch bông </a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" id="old-price-2"> 89.000 VNĐ </span> </p>
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" id="product-price-2"> 70.000 VNĐ </span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <strong></strong>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">

                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Thép cây vằn Pomina D6" class="product-image"> <img src="~/Content/images/thep.jpg"> </a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="product_detail.html" title="Thép cây vằn Pomina D6"> Thép cây vằn Pomina D6 </a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" id="old-price-2"> 104.000 VNĐ </span> </p>
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" id="product-price-2"> 95.000 VNĐ </span> </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Sample Product"></a>
                                                    @*<div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"><span>Xem chi tiết</span></a></div>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" id="old-price-2"> 89.000 VNĐ </span> </p>
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" id="product-price-2"> 74.000 VNĐ </span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //<![CDATA[
    jQuery(function () {
        jQuery(".slideshow").cycle({
            fx: 'scrollHorz', easing: 'easeInOutCubic', timeout: 10000, speedOut: 800, speedIn: 800, sync: 1, pause: 1, fit: 0, pager: '#home-slides-pager',
            prev: '#home-slides-prev',
            next: '#home-slides-next'
        });
    });
    //]]>
</script>


