
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}
@Styles.Render("~/Content/searchproductcss")
<style>
    p{
        font-size:16px;
        margin-right:10px;
    }
</style>
<section class="main-container col1-layout" style="background:#f4f4f4">
    <div class="main container">
        <div class="row">
            <div class="col-md-12">
                <div class="popular-posts widget widget__sidebar" style="background:#fff">
                    <div class="widget-content">
                        <p style="font-size:28px"><strong>I. Chính sách đấu thầu</strong></p>
                        <p style="font-size:20px"><strong><em>1. Đối với Khách Hàng</em></strong></p>
                        <p>- &nbsp; &nbsp; Bất kì Khách Hàng nào cũng có thể tham gia đấu thầu.</p>
                        <p>- &nbsp; &nbsp; Trong suốt quá trình đấu thầu diễn ra, Khách Hàng chặn bất kì Nhà cung cấp nào đặt thầu <strong>3</strong> lần.</p>
                        <p>- &nbsp; &nbsp; Trong suốt quá trình đấu thầu diễn ra, Khách hàng chỉ hủy đơn hàng trong vòng <strong>1</strong> ngày kể từ ngày đăng yêu cầu đấu thầu.</p>
                        <p>- &nbsp; &nbsp; Ngày nhận hàng phải là ngày sau khi đơn thầu kết thúc.</p>
                        <p style="font-size:20px"><strong><em>2. Đối với Nhà cung cấp</em></strong></p>
                        <p>- &nbsp; &nbsp; Trong suốt quá trình đấu thầu diễn ra, Nhà cung cấp chỉnh sửa giá thầu tùy ý.</p>
                        <p>- &nbsp; &nbsp; Nhà cung cấp chỉ được rút thầu trong vòng <strong>1</strong> ngày kể từ ngày đặt thầu. Trong trường hợp, Nhà cung cấp đặt thầu trong vòng <strong>24 tiếng</strong> kết thúc đơn thầu thì sẽ không thể rút thầu.</p>
                        <p>- &nbsp; &nbsp;  </p>
                        <p>- &nbsp; &nbsp; </p>
                        <p style="font-size:28px"><strong>II. Chính sách mua hàng</strong></p>
                        <p style="font-size:28px"><strong>III. Chính sách bảo mật thông tin</strong></p>
                        <p>- &nbsp; &nbsp; Thông tin cá nhân của khách hàng và nhà cung cấp được BMW cam kết tuyệt đối theo chính sách bảo vệ thông tin cá nhân của công ty.</p>
                        <p>- &nbsp; &nbsp; Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của khách hàng, nhà cung cấp khi không có sự cho phép đồng ý từ khách hàng, nhà cung cấp.</p>
                        <p>- &nbsp; &nbsp; Khách hàng, nhà cung cấp có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản đã được cấp trên BMW. Sau đó, chọn mục “Thông tin cá nhân” để thực hiện việc chỉnh sửa theo yêu cầu của người tiêu dùng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
