
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }
</style>
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow bounceInUp animated">
                <div class="page-title">
                    <h2>Câu hỏi thường gặp</h2>
                </div>
                <div class="panel-group accordion-faq" id="faq-accordion">
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question1"> <span class="arrow-down">+</span> <span class="arrow-up">&#8211;</span> Làm thế nào để tạo tài khoản trên BMW? </a> </div>
                        <div id="question1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p style="font-size:16px"><span style="text-decoration:underline"><strong>Bước 1:</strong></span> Nhấn vào nút "Đăng ký" ở góc phải trang web.</p>
                                <p><img src="~/Images/Register.jpg" width="623" height="340"></p>
                                <p style="font-size:16px"><span style="text-decoration:underline"><strong>Bước 2:</strong></span> Điền đầy đủ thông tin email, họ tên, điện thoại, ..theo yêu cầu. Để đảm bảo quyền lợi trong giao dịch với BMW, Khách Hàng nên cung cấp thông tin chính xác trong quá trình tạo tài khoản, sau đó bấm “Đăng ký”.</p>
                                <p style="font-size:16px">Sau khi hoàn tất Bước 2, Khách Hàng đã có thể mua hàng tại BMW.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question3" class="collapsed"> <span class="arrow-down">+</span> <span class="arrow-up">&#8211;</span> Làm thế nào để thay đổi thông tin cá nhân: Tên, số điện thoại, ngày sinh?</a> </div>
                        <div id="question3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p style="font-size:16px">Sau khi đăng nhập vào tài khoản, chọn mục “Thông tin cá nhân”.</p>
                                <p><img src="~/Images/Edit_Profile.jpg" width="623" height="340"></p>
                                <p style="font-size:16px">Điền thông tin cá nhân: Tên, Ngày sinh, Điện thoại. Sau đó nhấn nút "Cập nhật".</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question5" class="collapsed"> <span class="arrow-down">+</span> <span class="arrow-up">&#8211;</span> Làm thế nào để đăng yêu cầu đấu thầu? </a> </div>
                        <div id="question5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel-body">
                                    <p style="font-size:16px">Sau khi đăng nhập vào tài khoản, chọn mục “Đấu thầu”.</p>
                                    <p><img src="~/Images/Bid_Request.jpg" width="623" height="340"></p>
                                    <p style="font-size:16px">Điền thông tin. Sau đó nhấn nút "Hoàn tất".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question2" class="collapsed"> <span class="arrow-down">+</span> <span class="arrow-up">&#8211;</span> Làm thế nào để đánh giá đơn hàng?</a> </div>
                        <div id="question2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p style="font-size:16px"><span style="text-decoration:underline"><strong>Bước 1:</strong></span> Ở trang "Thông tin đơn hàng", Khách Hàng chọn "Đánh giá".</p>
                                <p style="font-size:16px"><span style="text-decoration:underline"><strong>Bước 2:</strong></span> Điền thông tin cá nhân: Giá bán, Chất lượng sản phẩm, Mức độ phục vụ. Sau đó nhấn nút "Đánh giá".</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#question4" class="collapsed"> <span class="arrow-down">+</span> <span class="arrow-up">&#8211;</span> Điều kiện để tôi đánh giá đơn hàng?</a> </div>
                        <div id="question4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p style="font-size:16px"> Khách hàng chỉ có thể đánh giá đơn hàng khi đơn hàng đã được giao hàng thành công.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
