
@{
    ViewBag.Title = "SearchRequestResult";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
@Scripts.Render("~/bundles/mainpagejquery")

<style>
    ul {
        border: 0;
        margin: 0;
        padding: 0;
    }

    #pagination-flickr li {
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 14px;
        list-style: none;
    }

    #pagination-flickr a {
        border: solid 1px #DDDDDD;
        margin-right: 2px;
    }

    #pagination-flickr .previous-off,
    #pagination-flickr .next-off {
        color: #666666;
        display: block;
        float: left;
        font-weight: bold;
        padding: 3px 4px;
    }

    #pagination-flickr .next a,
    #pagination-flickr .previous a {
        font-weight: bold;
        border: solid 1px #FFFFFF;
    }

    #pagination-flickr .active {
        color: #ff0084;
        font-weight: bold;
        display: block;
        float: left;
        padding: 4px 6px;
    }

    #pagination-flickr a:link,
    #pagination-flickr a:visited {
        color: #0063e3;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }

    #pagination-flickr a:hover {
        border: solid 1px #666666;
    }
</style>

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 wow bounceInUp animated">
                <div class="page-title">
                    <h4>Có <b>15</b> kết quả phù hợp</h4>
                </div>
                <div class="blog-wrapper" id="main">
                    <div class="site-content" id="primary">
                        <div role="main" id="content">
                            <div class="comment-content wow bounceInUp animated">
                                <div class="comments-wrapper">
                                    <form>
                                        <ul class="commentlist">

                                            <li class="comment">
                                                <div class="comment-wrapper">
                                                    <div class="comment-author vcard">
                                                        <p class="gravatar"><a href="#"><img width="90" height="100" alt="avatar" src="~/Images/UserAvatar/Admin1.jpg"></a></p>
                                                        <span class="author"><strong>Xi Măng các loại giá rẻ</strong></span>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    </div>
                                                    <div class="comment-body">
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín. Chất lượng uy tín, giao hàng tận nơi
                                                        <p style="color:#b6b6b6">Cao Minh Thúy Vy</p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="comment">
                                                <div class="comment-wrapper">
                                                    <div class="comment-author vcard">
                                                        <p class="gravatar"><a href="#"><img width="90" height="100" alt="avatar" src="~/Images/UserAvatar/Admin1.jpg"></a></p>
                                                        <span class="author"><strong>Mua xi măng ở TPCHM</strong></span>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    </div>
                                                    <div class="comment-body">
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín. Chất lượng uy tín, giao hàng tận nơi
                                                        <p style="color:#b6b6b6">Cao Minh Thúy Vy</p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="comment">
                                                <div class="comment-wrapper">
                                                    <div class="comment-author vcard">
                                                        <p class="gravatar"><a href="#"><img width="90" height="100" alt="avatar" src="~/Images/UserAvatar/Admin1.jpg"></a></p>
                                                        <span class="author"><strong>Xi măng giá rẻ nhất TPHCM</strong></span>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    </div>
                                                    <div class="comment-body">
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín. Chất lượng uy tín, giao hàng tận nơi
                                                        <p style="color:#b6b6b6">Cao Minh Thúy Vy</p>
                                                    </div>
                                                </div>

                                            </li>

                                            <li class="comment">
                                                <div class="comment-wrapper">
                                                    <div class="comment-author vcard">
                                                        <p class="gravatar"><a href="#"><img width="90" height="100" alt="avatar" src="~/Images/UserAvatar/Admin1.jpg"></a></p>
                                                        <span class="author"><strong>Mua xi măng giá rẻ</strong></span>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    </div>
                                                    <div class="comment-body">
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín. Chất lượng uy tín, giao hàng tận nơi
                                                        <p style="color:#b6b6b6">Cao Minh Thúy Vy</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                                <br />
                                <ul id="pagination-flickr">
                                    <li class="previous-off">«Trước</li>
                                    <li class="active">1</li>
                                    <li><a href="?page=2">2</a></li>
                                    <li><a href="?page=3">3</a></li>
                                    <li><a href="?page=4">4</a></li>
                                    <li><a href="?page=5">5</a></li>
                                    <li><a href="?page=6">6</a></li>
                                    <li><a href="?page=7">7</a></li>
                                    <li class="next"><a href="?page=2">Sau »</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-right sidebar col-sm-3 wow bounceInUp animated">
                <div role="complementary" class="widget_wrapper13" id="secondary">
                    <div class="popular-posts widget widget__sidebar" id="recent-posts-4">
                        <h3 class="widget-title">SẢN PHẨM TƯƠNG TỰ</h3>
                        <div class="widget-content">
                            <ul class="posts-list unstyled clearfix">
                                <li>
                                    <figure class="featured-thumb"> <a href="#pellentesque-posuere"> <img width="80" height="80" alt="blog image" src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg"> </a> </figure>
                                    <!--featured-thumb-->
                                    <h4><a title="Pellentesque posuere" href="#pellentesque-posuere">Xi măng Hà Tiên PCB</a></h4>
                                    <p class="post-meta" style="color:#ff1341">
                                        Giá: <strong>80.000 VNĐ</strong>
                                    </p>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#dolor-lorem-ipsum"> <img width="80" height="80" alt="blog image" src="~/Content/images/xi-mang-fico-pcb40.jpg"> </a> </figure>
                                    <!--featured-thumb-->
                                    <h4><a title="Dolor lorem ipsum" href="#dolor-lorem-ipsum">Xi măng Nghi Sơn</a></h4>
                                    <p class="post-meta" style="color:#ff1341">
                                        Giá: <strong>90.000 VNĐ</strong>
                                    </p>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#aliquam-eget-sapien-placerat"> <img width="80" height="80" alt="blog image" src="~/Content/images/xi măng hà tiên đa dụng.jpg"> </a> </figure>
                                    <!--featured-thumb-->
                                    <h4><a title="Aliquam eget sapien placerat" href="#aliquam-eget-sapien-placerat">Xi măng đa dụng</a></h4>
                                    <p class="post-meta" style="color:#ff1341">
                                        Giá: <strong>87.000 VNĐ</strong>
                                    </p>
                                </li>
                                
                            </ul>
                        </div>
                        <!--widget-content-->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

