
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@*@Scripts.Render("~/bundles/viewdetailjquery")*@

<style>
    .item-img-info {
        width: 300px;
        height: 200px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 300px;
        height: 300px;
        display: inline-block;
        padding: 5px;
        margin-left: 10px;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 5px;
    }
</style>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="index.html">Trang chủ</a><span>&raquo;</span></li>
                <li class=""> <a href="grid.html">Xi măng</a><span>&raquo;</span></li>
                <li class="category13"><strong> Xi măng FICO PCB40 </strong></li>
            </ul>
        </div>
    </div>
</div>

<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="product-view">
                    <div class="product-essential">

                        <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                        <div class="product-img-box col-sm-3 col-xs-12">

                            <div class="product-image">
                                <div class="large-image"><img alt="product-image" src="~/Content/images/cement-fico-pcb-40.jpg"></div>
                            </div>
                            <!-- end: more-images -->
                            <div class="clear"></div>
                        </div>
                        <div class="product-shop col-sm-6 col-xs-12">
                            <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
                            <div class="product-name">
                                <h1>Xi măng FICO PCB40</h1>
                            </div>
                            @*<div class="short-description">
                                    <p>Sản phẩm đến từ nhà cung cấp uy tín</p>
                                </div>*@

                            <div class="price-block">
                                <div class="price-box">
                                    @*<p>3 cửa hàng bán với giá từ: <b>80.000 VNĐ</b></p>*@
                                    6 Cửa hàng bán với giá từ: <p class="special-price"> <span class="price-label"> Special Price</span> <span class="price"> 80.000 VNĐ </span> </p>
                                </div>
                            </div>
                            <div class="add-to-box">
                                <div>
                                    <button type="button" class="button btn-info" data-toggle="modal" data-target="#selectSupplier">
                                       Xem cửa hàng
                                    </button>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="toggle-content">
                                <div class="toggle toggle-white">
                                    <h4 class="trigger"><a href="#">Mô tả</a></h4>
                                    <div style="display: none;" class="toggle_container ">
                                        <form>
                                            <table class="table-bordered" width="500">
                                                <tr>
                                                    <td>Nhà sản xuất</td>
                                                    <td>Xi măng Hocim</td>
                                                </tr>
                                                <tr>
                                                    <td>Khối lượng</td>
                                                    <td>50kg</td>
                                                </tr>
                                                <tr>
                                                    <td>Đơn vị tính</td>
                                                    <td>bao</td>
                                                </tr>

                                            </table>
                                        </form>
                                    </div>
                                </div>
                                <div class="toggle toggle-white">
                                    <h4 class="trigger"><a href="#">Thông số kỹ thuật</a></h4>
                                    <div style="display: none;" class="toggle_container ">
                                        <form>
                                            <table class="table-bordered" width="500">
                                                <tr>
                                                    <td>Thời gian đông kết</td>
                                                    <td>45 phút</td>
                                                </tr>
                                                <tr>
                                                    <td>Độ ổn định thể tích</td>
                                                    <td>10m</td>
                                                </tr>
                                                <tr>
                                                    <td>Hàm lượng SO3</td>
                                                    <td>3.5%</td>
                                                </tr>

                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-right sidebar col-sm-3 wow bounceInUp animated">
                            <div role="complementary" class="widget_wrapper13" id="secondary">
                                <div class="popular-posts widget widget__sidebar" id="recent-posts-4">
                                    <h4 class="widget-title"><strong>CỬA HÀNG CÓ BÁN</strong></h4>
                                    <div class="widget-content">
                                        <ul class="posts-list unstyled clearfix">
                                            <li>
                                                <figure class="featured-thumb"> <a href="#pellentesque-posuere"> <img width="80" height="53" alt="blog image" src="~/Content/images/logo1.jpg"> </a> </figure>
                                                <!--featured-thumb-->
                                                <h4><a href="#pellentesque-posuere">Cửa hàng VLXD Sỹ Mạnh</a></h4>
                                                <p class="post-meta">
                                                    36 Nguyễn Trãi Q1 TPHCM
                                                </p>
                                                <h4 class="post-meta" style="color:#ff1341">
                                                    Giá: <strong>81.000 VNĐ</strong>
                                                </h4>
                                                <br />
                                            </li>

                                            <li>
                                                <figure class="featured-thumb"> <a href="#pellentesque-posuere"> <img width="80" height="53" alt="blog image" src="~/Content/images/logo2.jpg"> </a> </figure>
                                                <!--featured-thumb-->
                                                <h4><a href="#pellentesque-posuere">Cửa hàng VLXD M&C</a></h4>
                                                <p class="post-meta">
                                                    36 Nguyễn Văn Trỗi Phú Nhuận TPHCM
                                                </p>
                                                <h4 class="post-meta" style="color:#ff1341">
                                                    Giá: <strong>82.000 VNĐ</strong>
                                                </h4>
                                                <br />
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- related Product Slider -->
                        <div class="product-collateral">

                            <!-- related Product Slider End -->
                            <!-- Upsell Product Slider -->
                            <section class="upsell-pro">
                                <div class="slider-items-products">
                                    <div class="new_title center">
                                        <h2>Sản phẩm tương tự</h2>
                                    </div>
                                    <div id="featured-slider" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col4">
                                            @*<div class="item">
                                                    <div class="col-item">
                                                        <div class="item-inner">
                                                            <div class="item-img">

                                                                <div class="item-img-info">
                                                                    <a href="product_detail.html" class="product-image"> <img src="~/Content/images/cement-fico-pcb-40.jpg"> </a>
                                                                    <div class="item-box-hover">
                                                                        <div class="box-inner">
                                                                            <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a href="product_detail.html" title="Sample Product"> Xi măng FICO PCB40 </a> </div>
                                                                    <div class="item-content">

                                                                        <div class="item-price">
                                                                            <div class="price-box">
                                                                                <div class="price-box"> <span class="regular-price"> <span class="price">80.000 VNĐ</span> </span> </div>
                                                                            </div>
                                                                        </div>
                                                                        <p>3 cửa hàng bán</p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="item-inner">
                                                        <div class="item-img">

                                                            <div class="item-img-info">
                                                                <a href="product_detail.html" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1-pcb-30.jpg"> </a>
                                                                @*<div class="item-box-hover">
                                                                        <div class="box-inner">
                                                                            <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                                        </div>
                                                                    </div>*@
                                                            </div>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a href="product_detail.html"> Xi măng Hà Tiên 1 </a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <div class="price-box"> <span class="regular-price"> <span class="price">92.000 VNĐ</span> </span> </div>
                                                                        </div>
                                                                    </div>
                                                                    <p>6 cửa hàng bán</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="item-inner">
                                                        <div class="item-img">

                                                            <div class="item-img-info">
                                                                <a href="product_detail.html" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1.jpg"> </a>
                                                                @*<div class="item-box-hover">
                                                                        <div class="box-inner">
                                                                            <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span> Xem chi tiết</span></a></div>
                                                                        </div>
                                                                    </div>*@
                                                            </div>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a href="product_detail.html"> Xi măng Nghi Sơn PCB40 </a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <div class="price-box"> <span class="regular-price"> <span class="price">81.000 VNĐ</span> </span> </div>
                                                                        </div>
                                                                    </div>
                                                                    <p>6 cửa hàng bán</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Upsell Product Slider End -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="selectSupplier" class="modal fade" role="dialog">
    <div clas="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Danh sách cửa hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="table-responsive">
                        <table class="data-table" id="my-orders-table">
                            <thead>
                                <tr>
                                    <th>Cửa hàng</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Chọn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cửa hàng VLXD Vy Vy</td>
                                    <td>80.000 VNĐ</td>
                                    <td>
                                        <input id="Quantity" name="Quantity" type="number"/>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="" value=""/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cửa hàng VLXD Vy Vy</td>
                                    <td>80.000 VNĐ</td>
                                    <td>
                                        <input id="Quantity" name="Quantity" type="number" />
                                    </td>
                                    <td>
                                        <input type="checkbox" name="" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cửa hàng VLXD Vy Vy</td>
                                    <td>80.000 VNĐ</td>
                                    <td>
                                        <input id="Quantity" name="Quantity" type="number" />
                                    </td>
                                    <td>
                                        <input type="checkbox" name="" value="" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-warning" data-dismiss="modal">Thêm vào giỏ hàng</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

