
@{
    ViewBag.Title = "ViewHotShop";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

<style>
    .item-img-info {
        width: 250px;
        height: 200px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 250px;
        height: 350px;
        display: block;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 10px;
    }
</style>

<div class="main-container col2-left-layout" style="background:#f4f4f4">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-12">
                <div class="category-title">
                    <h1>CỬA HÀNG NỔI BẬT</h1>
                </div>
                <div class="category-products">
                    <ul class="products-grid">
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="item-inner">
                                    <div class="sale-label sale-top-right">Hot</div>
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/UserAvatar/AnHuyVT.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"> Cửa hàng Thiên Thiên </h3></div>
                                            <div class="item-content">
                                                <div class="rating" style="text-align:left;padding-top:5px">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <span class="stars">4.9</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="short-description" style="padding-left:10px;padding-top:10px; text-align:left">
                                                    <p>656/68/28 Quang Trung, Phường 11, Quận Gò Vấp</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="item-inner">
                                    <div class="sale-label sale-top-right">Hot</div>
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/UserAvatar/AnHuyVT.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"> Cửa hàng Thiên Thiên </h3></div>
                                            <div class="item-content">
                                                <div class="rating" style="text-align:left;padding-top:5px">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <span class="stars">4.9</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="short-description" style="padding-left:10px;padding-top:10px; text-align:left">
                                                    <p>656/68/28 Quang Trung, Phường 11, Quận Gò Vấp</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="item-inner">
                                    <div class="sale-label sale-top-right">Hot</div>
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/UserAvatar/AnHuyVT.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"> Cửa hàng Thiên Thiên </h3></div>
                                            <div class="item-content">
                                                <div class="rating" style="text-align:left;padding-top:5px">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <span class="stars">4.9</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="short-description" style="padding-left:10px;padding-top:10px; text-align:left">
                                                    <p>656/68/28 Quang Trung, Phường 11, Quận Gò Vấp</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="item-inner">
                                    <div class="sale-label sale-top-right">Hot</div>
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/UserAvatar/AnHuyVT.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"> Cửa hàng Thiên Thiên </h3></div>
                                            <div class="item-content">
                                                <div class="rating" style="text-align:left;padding-top:5px">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <span class="stars">4.9</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="short-description" style="padding-left:10px;padding-top:10px; text-align:left">
                                                    <p>656/68/28 Quang Trung, Phường 11, Quận Gò Vấp</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>

