
<div class="menu">
    <ul>
        <li class="active"><a href="index.html">Trang chủ</a></li>
        <li><a href="about.html">Yêu cầu</a></li>
        <li><a href="delivery.html"></a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>
