<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Thế giới vật liệu</title>

    @Styles.Render("~/Content/mainpagecss")
    @*@Scripts.Render("~/bundles/mainpagejquery")
        @RenderSection("scripts", required: false)*@
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: Roboto, sans-serif;
        }
    </style>
</head>
<body class="cms-index-index">
    <div class="page">
        <header class="header-container">
            <div id="top-header" class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-xs-6"></div>
                        <div class="col-lg-7 col-md-7 col-xs-6">
                            <!-- Header Top Links -->
                            <div class="toplinks">
                                <div class="links">
                                    <div class="dropdown block-company-wrapper">
                                        <a data-toggle="dropdown" data-target="#" class="dropdown-toggle" href="#"><span><strong>YÊU CẦU</strong></span></a>
                                        <ul class="dropdown-menu">
                                            <li role="presentation"><a tabindex="-1" href="about_us.html"><strong> MUA NHANH </strong></a></li>
                                            <li role="presentation"><a tabindex="-1" href="#"><strong> ĐẤU THẦU </strong></a></li>
                                        </ul>
                                    </div>

                                    <div class="myaccount"><a href="login.html"><span><strong>ĐĂNG KÝ</strong></span><i class="icon-angle-down"></i></a></div>
                                    <div class="login"><a href="login.html"><span><strong>ĐĂNG NHẬP</strong></span></a></div>
                                </div>
                            </div>
                            <!-- End Header Top Links -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="logo">
                            <img src="~/Content/images/coollogo_com-237831172.png" />
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav>
            <div class="container">
                <div class="nav-inner">
                    <ul id="nav" class="hidden-xs">
                        <li class="level0 nav-8 level-top"> <a href="grid.html" class="level-top"> <span><strong>Trang chủ</strong></span> </a> </li>
                    </ul>

                </div>
            </div>
        </nav>

        @RenderBody();

        <footer class="footer">
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 coppyright"> &copy; 2017 BMW</div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

