@using Microsoft.AspNet.Identity

<div class="header container">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="logo">
                <a href="/Home">
                    <img src="~/Images/logo.jpg">
                </a>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            @{
                var controller = ViewContext.RouteData.Values["Controller"].ToString();
                if (controller == "Request")
                {
                    <form id="header_search" name="header_search" action="/Home/SearchRequest" method="get">
                        <div class="border" id="home_search_control">
                            <input type="button" class="button" value="Tìm kiếm yêu cầu" id="searchBtn">
                            <div class="keyword">
                                <div>
                                    <input type="text" id="header_search_keyword" name="searchString" value="@ViewData["RequestSearchString"]" maxlength="100" class="ac_input tag">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </form>
                }
                else
                {
                    <form id="header_search" name="header_search" action="/Home/Search" method="get">
                        <div class="border" id="home_search_control">

                            <input type="button" class="button" value="Tìm kiếm" id="searchBtn">
                            <div class="keyword">
                                <div>
                                    <input type="text" id="header_search_keyword" name="searchString" value="@ViewData["SearchString"]" placeholder="Chào bạn, hôm nay bạn muốn mua gì?" maxlength="100" class="ac_input" data-otf-autocomplete="@Url.Action("ProductAutocomplete")">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </form>
                }
            } 
            
        </div>
        
        <div class="col-md-2 header-cart-wrapper">
            <ul class="header-cart">
                @{
                    var cartViewModel = (TGVL.Models.CartViewModel)Session["Cart"];
                    var count = cartViewModel == null ? 0 : cartViewModel.CartDetails.Count();
                }
                <li class="nav-cart">
                    <a href="/Home/ShoppingCart" aria-expanded="false">
                        <i class="hd hd-cart"></i><span id="cartCount" class="circle">@count</span> <span class="hidden-xs hidden-sm">Giỏ hàng</span>
                    </a>

                </li>
            </ul>

        </div>
         

    </div>
</div>

<script>

    $(document).ready(function () {
        $("#searchBtn").click(function (event) {
            var searchString = $("#header_search_keyword").val();
            //console.log("searchString:" + searchString);
            if (searchString.trim() != "") {
                $("form[id='header_search']").submit();
            }
        });
    })


</script>