

<div class="header container">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="logo">
                <img src="~/Images/logo_1.png" />
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <form id="searchForm">
                <div class="input-group input-group-lg">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Sản phẩm
                            <span class="fa fa-caret-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cửa hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Yêu cầu</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Deal</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control input-sm" placeholder="Nhập vào đây để tìm kiếm">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat">Tìm kiếm</button>
                    </span>
                </div>
            </form>

        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="top-cart-contain">
                <div class="mini-cart">
                    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#"><span>Giỏ hàng (2)</span></a></div>
                    <div>
                        <div style="display: none;" class="top-cart-content arrow_box">
                            <div class="block-subtitle">Recently added item(s)</div>
                            <ul id="cart-sidebar" class="mini-products-list">
                                <li>
                                    <a href="product_detail.html" title="Sample Product" class="product-image"><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Sample Product" width="55"></a>
                                    <div class="product-details">
                                        <a href="#" class="btn-remove1">Remove This Item</a> 
                                        <strong>1</strong> x <span class="price">89.000 VNĐ</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="product_detail.html" title="Sample Product" class="product-image"><img src="~/Content/images/Xi măng Hạ Long PCB 40.jpg" alt="Sample Product" width="55"></a>
                                    <div class="product-details">
                                        <a href="#" class="btn-remove1">Remove This Item</a>
                                        <strong>1</strong> x <span class="price">80.000 VNĐ</span>
                                    </div>
                                </li>
                                
                            </ul>
                            <div class="top-subtotal">Tổng cộng: <span class="price">169.000 VNĐ</span></div>
                            <div class="actions">
                                <button class="btn-checkout" type="button"><span>MUA HÀNG</span></button>
                                <button class="view-cart" type="button"><span>XEM GIỎ HÀNG</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ajaxconfig_info" style="display:none">
                    <a href="#/"></a>
                    <input value="" type="hidden">
                    <input id="enable_module" value="1" type="hidden">
                    <input class="effect_to_cart" value="1" type="hidden">
                    <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                </div>
            </div>
        </div>
    </div>
</div>

