@using Microsoft.AspNet.Identity
<div class="header container">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="logo">
                <a href="/Home">
                    <img src="~/Images/lg.png">
                </a>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">

            <form id="header_search" name="header_search" action="/Home/Search" method="get">
                <div class="border" id="home_search_control">

                    <input type="submit" class="button" value="Tìm kiếm">
                    <div class="keyword">
                        <div>
                            <input type="text" id="header_search_keyword" name="searchString" value="@ViewData["SearchString"]" placeholder="Chào bạn, hôm nay bạn muốn mua gì?" maxlength="100" class="ac_input" data-otf-autocomplete="@Url.Action("ProductAutocomplete")">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        @if (User.IsInRole("Customer"))
        {
            <div class="col-md-2 header-cart-wrapper">
                <ul class="header-cart">
                    @{
                        var cartViewModel = (TGVL.Models.CartViewModel)Session["Cart"];
                        var count = cartViewModel == null ? 0 : cartViewModel.CartDetails.Count();
                    }
                    <li class="nav-cart">
                        <a href="/Home/ShoppingCart" aria-expanded="false">
                            <i class="hd hd-cart"></i><span id="cartCount" class="circle">@count</span> <span class="hidden-xs hidden-sm">Giỏ hàng</span>
                        </a>

                    </li>
                </ul>

            </div>
         }

    </div>
</div>

