
<div class="header container">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            @*<div class="logo">
                    <img src="~/Content/images/logo.jpg" />
                </div>*@
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <form id="searchForm">
                <div class="input-group input-group-lg">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Sản phẩm
                            <span class="fa fa-caret-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cửa hàng</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Yêu cầu</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Deal</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control input-sm" placeholder="Nhập vào đây để tìm kiếm">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat">Tìm kiếm</button>
                    </span>
                </div>
            </form>

        </div>
        
    </div>
</div>