@model TGVL.Models.ResponeRequestViewModel



<div id="test" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CHỌN SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p>@Html.Raw(@Model.Message)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tìm sản phẩm khác</button>
            </div>
        </div>

    </div>
</div>
