
@{
    ViewBag.Title = "DealDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
@Scripts.Render("~/bundles/viewdetailjquery")
@Scripts.Render("~/bundles/clockjquery")

<style>
    #time {
        border-left: 1px solid #eaeaea;
        padding-left: 20px;
    }
</style>

<section class="main-container">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-view">
                        <div class="product-essential">
                            <div class="product-img-box col-sm-4 col-xs-12">
                                <div class="product-image">
                                    <div><img alt="product-image" src="~/Content/images/Xi măng Hạ Long PCB 40.jpg" width="100" height="100"></div>
                                    <div class="flexslider flexslider-thumb">
                                        <ul class="previews-list slides">
                                            <li><a href='#' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'Images/img/ximang1.jpg' "><img src="~/Images/img/ximang1.jpg" alt="Thumbnail 1" /></a></li>
                                            <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 2" /></a></li>
                                            <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 1" /></a></li>
                                            <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 2" /></a></li>
                                            <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 2" /></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="clear"></div>
                            </div>
                            <div class="product-shop col-sm-8 col-xs-12">
                                <div class="product-name">
                                    <h1>Xi măng FICO PCB40</h1>
                                </div>
                                <div class="short-description">
                                    <p>
                                        Sản phẩm đến từ nhà cung cấp uy tín. Chất lượng ổn định, yên tâm khi sử dụng
                                        Giá 890.000 VNĐ, còn 870.000 VNĐ. Giảm 20%
                                    </p>
                                </div>
                                <hr />
                                <div class="price-block">
                                    <div class="price-box">
                                        <p class="old-price"> Giá gốc: <span class="price-label">Regular Price:</span> <span class="price"> 890.000 VNĐ </span> </p>
                                        <br />
                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> 870.000 VNĐ </span> Giảm <strong style="color:#ff1341; font-size:24px">20%</strong> </p>
                                    </div>
                                </div>
                                <hr />
                                <div class="add-to-box">
                                    <div class="add-to-cart">
                                        <label>Số lượng :</label>
                                        <select>
                                            <option>1</option>
                                            <option>2 </option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5 </option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8 </option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                    <button type="button" class="button btn-cart"><span>Thêm vào giỏ hàng</span></button>
                                </div>
                                <br />
                                <br />
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <i class="fa fa-user"></i> <strong style="font-size:18px">2222 người đã mua</strong>
                                        </div>
                                        <div id="time" class="col-md-6">
                                            <span id="countdown-2">
                                                <strong>Còn lại</strong>
                                            </span>
                                        </div>
                                    </div>
                                    @*<div class="toggle toggle-white">
                                            <h4 class="trigger"><a href="#">Mô tả</a></h4>
                                            <div style="display: none;" class="toggle_container ">

                                                <table class="table-bordered" width="500">
                                                    <tr>
                                                        <td>Nhà sản xuất</td>
                                                        <td>Xi măng Hocim</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Khối lượng</td>
                                                        <td>50kg</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Đơn vị tính</td>
                                                        <td>bao</td>
                                                    </tr>

                                                </table>

                                            </div>
                                        </div>
                                        <div class="toggle toggle-white">
                                            <h4 class="trigger"><a href="#">Thông số kỹ thuật</a></h4>
                                            <div style="display: none;" class="toggle_container ">

                                                <table class="table-bordered" width="500">
                                                    <tr>
                                                        <td>Thời gian đông kết</td>
                                                        <td>45 phút</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Độ ổn định thể tích</td>
                                                        <td>10m</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hàm lượng SO3</td>
                                                        <td>3.5%</td>
                                                    </tr>

                                                </table>

                                            </div>
                                        </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="popular-posts widget widget__sidebar">
                <h3 class="widget-title">THÔNG TIN CHI TIẾT</h3>
                <div class="widget-content">
                    <p>Xi măng chất lượng cao đến từ nhà cung cấp uy tín. Đừng bỏ qua cơ hội này</p>
                    <br />
                    <p>Thông tin sản phẩm</p>
                    <div class="table-responsive">
                        <table class="data-table">
                            <tbody>
                                <tr>
                                    <td>Tên sản phẩm</td>
                                    <td>Xi măng PCB40</td>
                                </tr>
                                <tr>
                                    <td>Cửa hàng</td>
                                    <td>Cửa hàng VLXD VyVy</td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ</td>
                                    <td>1234 PXL Phú Nhuận</td>
                                </tr>
                                <tr>
                                    <td>Nhà sản xuất</td>
                                    <td>Xi măng Holcim</td>
                                </tr>
                                <tr>
                                    <td>Khối lượng</td>
                                    <td>50kg</td>
                                </tr>
                                <tr>
                                    <td>Đơn vị tính</td>
                                    <td>Bao</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <p>Thông số kỹ thuật</p>
                    <p>Thời gian đông kết: 45 phút </p>
                </div>
            </div>
            <br />
            <div class="popular-posts widget widget__sidebar">
                <h3 class="widget-title">DEAL TƯƠNG TỰ</h3>
                <div class="widget-content">


                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var date = getRelativeDate(01, 01, 10);

    $('#countdown-2').timeTo(date, function () {
        alert('Hello');
    });
    function getRelativeDate(days, hours, minutes) {
        var date = new Date((new Date()).getTime() + 60000 /* milisec */ * 60 /* minutes */ * 24 /* hours */ * days /* days */);

        date.setHours(hours || 0);
        date.setMinutes(minutes || 0);
        date.setSeconds(0);

        return date;
    }
</script>
