@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")

<div class="main-container col2-left-layout">
    <div class="main container">
        <div class="row">
            <aside class="col-left sidebar col-sm-3">
                <div class="block block-account">
                    <div class="block-title">
                        <div class="profile">
                            <div class="profile_avatar">
                                <img src="~/Content/images/gachbong.jpg" style="width:60px;height:60px;max-height:60px;max-width:60px" />
                            </div>
                            <div class="profile_info">
                                <div style="padding:5px; font-size:15px">@User.Identity.Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a href="#">Thông tin cá nhân</a></li>
                            <li><a href="#">Thông tin yêu cầu</a></li>
                            <li>
                                <a href="#">Thông tin đơn hàng</a>
                            </li>
                            <li>
                                <a href="#">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </aside>
            <section class="col-main col-sm-9">

                <div class="table-responsive">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tiêu đề</th>
                                <th>Ngày đặt</th>
                                <th>Loại</th>
                                <th>Trạng thái</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tôi mua xi măng </td>
                                <td>19/03/2017</td>
                                <td>Mua nhanh</td>
                                <td>Đã kết thúc</td>
                                <td>
                                    <button type="button" class="button btn-primary">Xem chi tiết</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Đấu thầu</td>
                                <td>29/03/2017</td>
                                <td>Đấu thầu</td>
                                <td>Đã kết thúc</td>
                                <td>
                                    <button type="button" class="button btn-primary">Xem chi tiết</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
    </div>
</div>
