
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")

<div class="main container">
    <div class="row">
        @*<div class="col-md-6">
            <div class="page-title">
                <h4>MUA NHANH</h4>
            </div>
            <div class="blog-wrapper" id="main">
                <div class="site-content" id="primary">
                    <div role="main" id="content">
                        <div class="comment-content wow bounceInUp animated">
                            <div class="comments-wrapper">
                                <ul class="commentlist">
                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín
                                                    </p>

                                                    <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    <p><strong>08/03/2017</strong></p>
                                                </div>
                                                <div id="btnBorder" class="col-md-3 text-right">
                                                    <button type="button" class="btn btn-info">Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín
                                                    </p>

                                                    <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    <p><strong>08/03/2017</strong></p>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <button type="button" class="btn btn-info">Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín
                                                    </p>

                                                    <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    <p><strong>08/03/2017</strong></p>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <button type="button" class="btn btn-info">Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-md-12">
            <div class="page-title">
                <h4>ĐẤU THẦU</h4>
            </div>
            <div class="blog-wrapper" id="main">
                <div class="site-content" id="primary">
                    <div role="main" id="content">
                        <div class="comment-content wow bounceInUp animated">
                            <div class="comments-wrapper">
                                <ul class="commentlist">
                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín
                                                    </p>

                                                    <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    <p><strong>08/03/2017</strong></p>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <button type="button" class="btn btn-info">Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín
                                                    </p>

                                                    <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    <p><strong>08/03/2017</strong></p>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <button type="button" class="btn btn-info">Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>
                                                        Cần mua xi măng với giá cả phù hợp từ nhà cung cấp uy tín
                                                    </p>

                                                    <p><strong>Xi măng Hà Tiên 1</strong></p>
                                                    <p><strong>08/03/2017</strong></p>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <button type="button" class="btn btn-info">Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="jumbotron">
        <h1>TGVL</h1>
        <p class="lead">Thế giới vật liệu - Nơi tình yêu bắt đầu.</p>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#request">Đăng yêu cầu</button>
    </div>*@

<!-- Modal -->
@*<div id="request" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>@Html.ActionLink("Normal Request", "Create", new { mode = "normal" }, new { @class = "btn btn-primary btn-lg" })</p>
                    <p>@Html.ActionLink("Bid Request", "Create", new { mode = "bid" }, new { @class = "btn btn-primary btn-lg" })</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@