
@{
    ViewBag.Title = "NormalRequest";
    Layout = "~/Views/Shared/_RequestViewLayout.cshtml";
}

@Scripts.Render("~/bundles/bidrequestjquery")

<div class="row">
    <div class="col-md-12 col-xs-12">
        @*<div class="container">*@
        @*<div class="air-card" data-custom-metrics="mainContentRendered">*@
        @*<div class="row">*@
        @*<div class="col-md-12 col-sm-12 col-xs-12">*@
        <div class="x_panel">
            <div class="x_title">
                <h1><strong>YÊU CẦU MUA NHANH</strong></h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">
                    <h4 class="text-center"><strong>THÔNG TIN CHUNG</strong></h4>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tiêu đề<span class="required"> *</span></label>
                        <div class="col-m6-8 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tỉnh thành<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" style="height:auto">
                                <option>Hồ Chí Minh</option>
                                <option>Hà Nội</option>
                            </select>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ nhận hàng<span class="required"> *</span></label>
                        <div class="col-m6-8 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="155/6 Quang Trung Phường 11 Quận Gò Vấp TPHCM " />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Thời gian nhận hàng<span class="required"> *</span></label>
                        <div class="controls">
                            <div class="xdisplay_inputx form-group has-feedback col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control has-feedback-left" id="single_cal4" aria-describedby="inputSuccess2Status4">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                            </div>
                        </div>
                    </div>


                    <div class="ln_solid"></div>

                    <h4 class="text-center"><strong>SẢN PHẨM YÊU CẦU</strong></h4>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Danh mục<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" style="height:auto">
                                <option>Xi măng</option>
                                <option>Gỗ</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nhà sản xuất<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" style="height:auto">
                                <option>Hà Tiên</option>
                                <option>Long An</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sản phẩm<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" style="height:auto">
                                <option>Xi măng Hocim</option>
                                <option>Xi măng PCB40</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Số lượng<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="5">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Đơn vị tính<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="bao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Mô tả <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control" rows="3" placeholder="Tôi đang muốn mua 1 số lượng lớn về xi măng"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Giá khởi điểm<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="450.000 VNĐ">
                        </div>
                    </div>

                    

                    <div class="ln_solid"></div>
                    <h4 class="text-center"><strong>THÔNG TIN LIÊN HỆ</strong></h4>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên người đăng<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="Cao Minh Thúy Vy">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="abc@yahoo.com.vn">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Số điện thoại<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="09099294939">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="134 Nguyễn Trãi TPHCM">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Phương thức thanh toán<span class="required"> *</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" style="height:auto">
                                <option>Chuyển khoản</option>
                                <option>Tiền mặt</option>
                            </select>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Đăng tin</button>
                            
                        </div>
                    </div>

                </form>
            </div>
        </div>
        @*</div>*@
        @*</div>*@
        @*</div>*@
        @*</div>*@
    </div>
</div>

