
@{
    ViewBag.Title = "ViewBidRequestDetail";
    Layout = "~/Views/Shared/_ManageShopViewLayout.cshtml";
}

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Bảng xếp hạng</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Thứ hạng</th>
                            <th>Nhà cung cấp</th>
                            <th>Giá hiện tại</th>
                            <th>Giá trước đây</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>VLXD Hoa Mai</td>
                            <td>80.000 VNĐ</td>
                            <td>98.000 VNĐ</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>VLXD Hoa Cúc</td>
                            <td>88.000 VNĐ</td>
                            <td>92.000 VNĐ</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Bảng xếp hạng</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">
                        Số lượng đấu thầu 
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">
                        Giá thấp nhất hiện tại
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12">
                        Người đấu giá thấp nhất
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

