
@{
    ViewBag.Title = "ViewNormalDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
@*@Scripts.Render("~/bundles/mainpagejquery")*@

<style> 
    ul {
        border: 0;
        margin: 0;
        padding: 0;
    }

    #pagination-flickr li {
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 14px;
        list-style: none;
    }

    #pagination-flickr a {
        border: solid 1px #DDDDDD;
        margin-right: 2px;
    }

    #pagination-flickr .previous-off,
    #pagination-flickr .next-off {
        color: #666666;
        display: block;
        float: left;
        font-weight: bold;
        padding: 3px 4px;
    }

    #pagination-flickr .next a,
    #pagination-flickr .previous a {
        font-weight: bold;
        border: solid 1px #FFFFFF;
    }

    #pagination-flickr .active {
        color: #ff0084;
        font-weight: bold;
        display: block;
        float: left;
        padding: 4px 6px;
    }

    #pagination-flickr a:link,
    #pagination-flickr a:visited {
        color: #0063e3;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }

    #pagination-flickr a:hover {
        border: solid 1px #666666;
    }
    #border {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
    }
</style>

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div id="border" class="col-main col-sm-9 wow bounceInUp animated">
                <div class="blog-wrapper" id="main">
                    <div class="site-content" id="primary">
                        <div role="main" id="content">
                            <article class="blog_entry clearfix" id="post-29">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h4 class="pull-right">
                                            <strong>
                                                @Html.ActionLink("KẾT THÚC", "", "", null, new { @class = "btn btn-info" })
                                            </strong>
                                        </h4>
                                        <br />
                                        <h2 class="blog_entry-title" style="text-align:center"> <strong>Tôi muốn mua xi măng ở quận 1</strong> </h2>
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <!--blog_entry-header clearfix-->
                                <div class="entry-content">
                                    <h4><strong>Thông tin thêm</strong></h4>
                                    <div class="table-responsive">
                                        <form>
                                            <table class="data-table" id="my-orders-table">
                                                <tbody>
                                                    <tr>
                                                        <td>Loại nhà</td>
                                                        <td>Nhà biệt thự</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ngày nhận hàng</td>
                                                        <td>8/3/2017</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Địa chỉ nhận hàng</td>
                                                        <td>123 Nguyễn Du Quận 1 TPHCM</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td>Hình thức thanh toán</td>
                                                        <td>Chuyển khoản</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mô tả</td>
                                                        <td>Tôi muốn xi măng Hà Tiên với chất lượng tốt nhất </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                                <br />
                                <div class="entry-content">
                                    <h4><strong>Sản phẩm yêu cầu</strong></h4>
                                    <div class="table-responsive">
                                        <form>
                                            <table class="data-table" id="my-orders-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sản phẩm</th>
                                                        <th>Giá</th>
                                                        <th>Ảnh minh họa</th>
                                                        <th>Nhà sản xuất</th>
                                                        <th>Số lượng</th>
                                                        <th>Đơn vị tính</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><a><strong>Xi măng Hà Tiên 1</strong></a></td>
                                                        <td>87.000 VNĐ</td>
                                                        <td>
                                                            <img width="80" height="80" src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" />
                                                        </td>
                                                        <td>
                                                            Công ty TNHH Vina Built
                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            Bao
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a><strong>Xi măng Hà Tiên</strong></a></td>
                                                        <td>80.000 VNĐ</td>
                                                        <td>
                                                            <img width="80" height="80" src="~/Content/images/xi-mang-fico-pcb40.jpg" />
                                                        </td>
                                                        <td>
                                                            Công ty TNHH Đại Sơn
                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            Bao
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <br />
                                    <h4><strong>Thông tin liên hệ</strong></h4>
                                    <div class="table-responsive">
                                        <form>
                                            <table class="data-table" id="my-orders-table">
                                                <tbody>
                                                    <tr>
                                                        <td>Người đăng</td>
                                                        <td>Cao Minh Thúy Vy</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td>abc@yahoo.com.vn</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Số điện thoại</td>
                                                        <td>0909988777</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Địa chỉ</td>
                                                        <td>36 Nguyễn Trãi Quận 1 TPHCM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </article>
                            <div class="comment-content wow bounceInUp animated">
                                <div class="comments-wrapper">
                                    <h4> <strong>Bình luận</strong> </h4>
                                    <ul class="commentlist">
                                        <li class="comment">
                                            <div class="comment-wrapper">
                                                <div class="comment-author vcard">
                                                    <p class="gravatar"><a href="#"><img width="80" height="80" alt="avatar" src="~/Content/images/logo1.jpg"></a></p>
                                                    <span class="author">Cửa hàng VLXD Minh Minh</span>
                                                </div>
                                                <div class="comment-meta">
                                                    <p><strong>160.000 VNĐ</strong></p>
                                                </div>
                                                <div class="comment-body">
                                                    Phí vận chuyển: 50.000 VNĐ
                                                    <p style="color:#b6b6b6">125 Phan Xích Long Phú Nhuận TPHCM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!--comment-->
                                        <li class="comment">
                                            <div class="comment-wrapper">
                                                <div class="comment-author vcard">
                                                    <p class="gravatar"><a href="#"><img width="80" height="80" alt="avatar" src="~/Content/images/logo2.jpg"></a></p>
                                                    <span class="author">Cửa hàng VLXD Vy Vy</span>
                                                </div>
                                                <div class="comment-meta">
                                                    <p><strong>162.000 VNĐ</strong></p>
                                                </div>
                                                <div class="comment-body">
                                                    Phí vận chuyển: 20.000 VNĐ
                                                    <p style="color:#b6b6b6">125 Nguyễn Đình Chiểu Q3 TPHCM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!--comment-->
                                        <li class="comment">
                                            <div class="comment-wrapper">
                                                <div class="comment-author vcard">
                                                    <p class="gravatar"><a href="#"><img width="80" height="80" alt="avatar" src="~/Content/images/logo2.jpg"></a></p>
                                                    <span class="author">Cửa hàng VLXD Lan Ngọc</span>
                                                </div>
                                                <div class="comment-meta">
                                                    <p><strong>158.000 VNĐ</strong></p>
                                                </div>
                                                <div class="comment-body">
                                                    Phí vận chuyển: 80.000 VNĐ
                                                    <p style="color:#b6b6b6">125 Quang Trung Gò Vấp TPHCM</p>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                    <!--commentlist-->
                                </div>
                                <!--comments-wrapper-->

                            </div>
                            <br />
                            <ul id="pagination-flickr">
                                <li class="previous-off">«Trước</li>
                                <li class="active">1</li>
                                <li><a href="?page=2">2</a></li>
                                <li><a href="?page=3">3</a></li>
                                <li><a href="?page=4">4</a></li>
                                <li><a href="?page=5">5</a></li>
                                <li><a href="?page=6">6</a></li>
                                <li><a href="?page=7">7</a></li>
                                <li class="next"><a href="?page=2">Sau »</a></li>
                            </ul>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-right sidebar col-sm-3 wow bounceInUp animated">
                <div role="complementary" class="widget_wrapper13" id="secondary">
                    <div class="popular-posts widget widget__sidebar" id="recent-posts-4">

                        <h4 class="widget-title">YÊU CẦU TƯƠNG TỰ</h4>
                        <div class="widget-content">
                            <ul class="posts-list unstyled clearfix">
                                <li>
                                    <figure class="featured-thumb"> <a href="#pellentesque-posuere"> <img width="80" height="80" alt="blog image" src="~/Images/UserAvatar/Admin1.jpg"> </a> </figure>
                                    <!--featured-thumb-->
                                    <h4>
                                        <a href="#pellentesque-posuere">Mua xi măng ở quận 4</a>
                                    </h4>
                                    <p class="post-meta">
                                        Nguyễn Văn Cường
                                    </p>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#pellentesque-posuere"> <img width="80" height="80" alt="blog image" src="~/Images/UserAvatar/Admin1.jpg"> </a> </figure>
                                    <!--featured-thumb-->
                                    <h4>
                                        <a href="#pellentesque-posuere">Mua xi măng ở quận tân bình</a>
                                    </h4>
                                    <p class="post-meta">
                                        Lý Thị Mai
                                    </p>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#pellentesque-posuere"> <img width="80" height="80" alt="blog image" src="~/Images/UserAvatar/Admin1.jpg"> </a> </figure>
                                    <!--featured-thumb-->
                                    <h4>
                                        <a href="#pellentesque-posuere">Mua xi măng hà tiên 1</a>
                                    </h4>
                                    <p class="post-meta">
                                        Trần Đức
                                    </p>
                                </li>
                            </ul>
                            <br />
                            <h4 style="text-align:center">
                                <a href="#"><strong>Xem thêm</strong></a>
                            </h4>

                        </div>
                        <!--widget-content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>